/**
 * Rubcovsk.Online - Городской портал, основанный на карте
 *
 * Основные стили страницы
 */

* {
    box-sizing: border-box;
}

::-moz-selection,
::selection {
    color: white;
    background: black;
}

.main-container {
    /** Something... **/
}
