* {
    box-sizing: border-box;
}

::-moz-selection,
::selection {
    color: white;
    background: black;
}

.main-container {
    display: grid;
    grid-template-columns: auto 100%;
    justify-items: stretch;
    align-items: stretch;
}
