/* footer */
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
	text-align: center;
}
footer p {
	margin-bottom: 0;
}
#logo, .weather {
	position: absolute;
	left: 20px;
	top: 20px;
	padding: 10px 20px;
	background: #00000094;
	border-radius: 5px;
	box-shadow: 0 2px 2px #0002;
	z-index: 9;
	font-size: 33px;
}
#logo h1 {
	margin: 0;
}
.weather {
	padding: 18px 20px;
	left: 350px;
	color: #fff;
}
.mapboxgl-map {
	height: 100vh;
}
