body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #fff;
}
a:hover {
	text-decoration: none;
}

/* footer */
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px 0;
	background-color: #303030;
	border-top: 1px solid #ddd;
	color: #e2e2e2;
	text-align: center;
}
footer p {
	margin-bottom: 0;
}
#logo, .weather {
	position: absolute;
	left: 20px;
	top: 20px;
	padding: 10px 20px;
	background: #00000094;
	border-radius: 5px;
	box-shadow: 0 2px 2px #0002;
	z-index: 9;
	font-size: 33px;
}
#logo h1 {
	margin: 0;
}
.weather {
	padding: 18px 20px;
	left: 350px;
	color: #fff;
}
.mapboxgl-map {
	height: 100vh;
}