{% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<script src="catalog/view/javascript/_base/mapbox.js"></script>
<script src="catalog/view/javascript/_base/mapbox-helper.js"></script>
<script src="catalog/view/javascript/_base/menu.js"></script>
</body></html>
