{{ header }}
<div id="common-home">
    <div class="">
        <div id="content">
            <div class="main-container">
                <div id="menu">
                    {% if organizations %}
                        {% for organization in organizations %}
                        {% endfor %}
                    {% else %}
                        <div class="d-flex justify-content-center align-items-center vh-100">
                            <h5 class="text-muted">Нету организаций! 😖</h5>
                        </div>
                    {% endif %}
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
{{ footer }}
