{{ header }}
<div id="common-home">
    <div class="">
        <div id="content">
            <div class="main-container">
                <div class="z-0 bg-light" id="menu"></div>
                <div class="z-0" id="map"></div>
            </div>
        </div>
    </div>
</div>
{{ footer }}
